<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <connectionStrings>
    <add name="DbMenu" connectionString="Database=DbMenu;Server=konfidence2;Persist Security Info=True;User ID=xxxx;Password=pppp" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="DbMenu" />
</configuration>