<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.3" targetFramework="net47" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net47" />
  <package id="EnterpriseLibrary.Data" version="6.0.1304.0" targetFramework="net47" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net47" />
  <package id="Konfidence.BaseClasses" version="1.0.6665.21241" targetFramework="net47" />
  <package id="Konfidence.BaseDatabaseClasses" version="1.0.6665.21244" targetFramework="net47" />
  <package id="Ninject" version="3.3.4" targetFramework="net47" />
  <package id="Unity" version="5.8.4" targetFramework="net47" />
  <package id="Unity.Abstractions" version="3.3.0" targetFramework="net47" />
  <package id="Unity.Interception" version="5.5.1" targetFramework="net47" />
</packages>