<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Konfidence.BaseDatabaseClasses.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Konfidence.BaseData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Konfidence.BaseDatabaseClasses.Properties.Settings>
            <setting name="BaseDatabaseClasses_WSBaseHost_WSBaseHostService" serializeAs="String">
                <value>http://localhost/RegistrationWebservice/BaseService.asmx</value>
            </setting>
        </Konfidence.BaseDatabaseClasses.Properties.Settings>
        <Konfidence.BaseData.Properties.Settings>
            <setting name="BaseDatabaseClasses_WSBaseHost_WSBaseHostService" serializeAs="String">
                <value>http://localhost/RegistrationWebservice/BaseService.asmx</value>
            </setting>
        </Konfidence.BaseData.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Konfidence.BaseClasses" publicKeyToken="4650fb79bf8d22c7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.6674.29367" newVersion="1.0.6674.29367" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
