<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <dataConfiguration defaultDatabase="SchemaDatabaseDevelopment" />
  <connectionStrings>
    <add name="TShirt" connectionString="Database=TShirt;Server=konfidence2;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="SchemaDatabaseDeployment" connectionString="Database=WebSiteStatistics;Server=rood\sql2005;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="BlockedHackers" connectionString="Database=BlockedHackers;Server=konfidence2;Persist Security Info=True;User ID=sa;Password=br4nd3r!" providerName="System.Data.SqlClient" />
    <add name="TestDatabase" connectionString="Database=TestDatabase;Server=konfidence2;Persist Security Info=True;User ID=sa;Password=br4nd3r!" providerName="System.Data.SqlClient" />
    <add name="TestClassGenerator" connectionString="Database=TestClassGenerator;Server=konfidence2;Persist Security Info=True;User ID=sa;Password=br4nd3r!" providerName="System.Data.SqlClient" />
    <add name="SchemaDatabaseDevelopment" connectionString="Database=TestClassGenerator;Server=konfidence2;Persist Security Info=True;User ID=sa;Password=br4nd3r!" providerName="System.Data.SqlClient" />
    <add name="DbMenu" connectionString="Database=DbMenu;Server=konfidence2;Persist Security Info=True;User ID=sa;Password=br4nd3r!" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
