<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <dataConfiguration defaultDatabase="SchemaDatabaseDevelopment" />
  <connectionStrings>
    <add name="SchemaDatabaseDeployment" connectionString="Database=WebSiteStatistics;Server=rood\sql2005;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="TShirt" connectionString="Database=TShirt;Server=W2008R2VS2010;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="TestDatabase" connectionString="Database=TestDatabase;Server=konfidence2;Persist Security Info=True;User ID=sa;Password=br4nd3r!" providerName="System.Data.SqlClient" />
    <add name="TestClassGenerator" connectionString="Database=TestClassGenerator;Server=konfidence2;Persist Security Info=True;User ID=sa;Password=br4nd3r!" providerName="System.Data.SqlClient" />
    <add name="SchemaDatabaseDevelopment" connectionString="Database=TestClassGenerator;Server=konfidence2;Persist Security Info=True;User ID=sa;Password=br4nd3r!" providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Konfidence.BaseClasses" publicKeyToken="4650fb79bf8d22c7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.6683.23931" newVersion="1.0.6683.23931" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Annotations" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.1.5.0" newVersion="10.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Smo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.ConnectionInfo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Konfidence.BaseDatabaseClasses" publicKeyToken="4650fb79bf8d22c7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.6517.31113" newVersion="1.0.6517.31113" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
