<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <connectionStrings>
    <add name="SchemaDatabaseDeployment" connectionString="Database=WebSiteStatistics;Server=konfidence3;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="DbMenu" connectionString="Database=DbMenu;Server=localhost;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="DbMenu" />
  <appSettings>
    <!-- WebServicesEnabled: 1 = enabled ; 2 = disabled -->
    <add key="WebServicesEnabled" value="2" />
    <!--<add key="KanaalService" value="http://localhost/DbMenu/WebServices/KanaalService.asmx"/>-->
    <add key="ActionsTimer.Interval" value="100" />
  </appSettings>
</configuration>