<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0"/>
  </configSections>
  <connectionStrings>
    <add name="SchemaDatabaseDeployment" connectionString="Database=WebSiteStatistics;Server=konfidence3;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add name="DbSiteMapMenu" connectionString="Database=DbSiteMapMenu;Server=localhost;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <dataConfiguration defaultDatabase="DbSiteMapMenu"/>
  <appSettings>
    <!-- WebServicesEnabled: 1 = enabled ; 2 = disabled -->
    <add key="WebServicesEnabled" value="2"/>
    <!--<add key="KanaalService" value="http://localhost/DbSiteMapMenu/WebServices/KanaalService.asmx"/>-->
    <add key="ActionsTimer.Interval" value="100"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
