<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0"/>
  </configSections>
  <connectionStrings>
    <add name="SchemaDatabaseDeployment" connectionString="Database=WebSiteStatistics;Server=rood\sql2005;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add name="TShirt" connectionString="Database=TShirt;Server=W2008R2VS2010;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <dataConfiguration defaultDatabase="TShirt"/>
</configuration>