<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <dataConfiguration defaultDatabase="TestDatabase"/>
  <connectionStrings>
    <add name="SchemaDatabaseDeployment" connectionString="Database=WebSiteStatistics;Server=rood\sql2005;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add name="TShirt" connectionString="Database=TShirt;Server=W2008R2VS2010;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add name="TestDatabase" connectionString="Database=TestDatabase;Server=konfidence1;Persist Security Info=True;User ID=sa;Password=br4nd3r!" providerName="System.Data.SqlClient"/>
    <add name="Newsletter" connectionString="Database=Newsletter;Server=konfidence1;Persist Security Info=True;User ID=sa;Password=br4nd3r!" providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
